@use "../settings/breakpoints" as bp;

.body {
  font-family: sans-serif;

  &::before {
    display: none;
    @each $name, $value in bp.$breakpoints {
      @media screen and (min-width: $value) {
        content: $name;
      }
    }
  }
}
