@use "../settings/breakpoints" as breakpoints;

.body {
  font-family: sans-serif;
  font-size: var(--base-font-size);
  font-family: var(--base-font);
  color: var(--color-contrast);
  background-color: var(--background-color, var(--color-deep));

  &:before {
    display: none;
    @each breakpoints.$breakpoint in map-keys(breakpoints.$breakpoints) {
      @include breakpoint(breakpoints.$breakpoint) {
        content: breakpoints.$breakpoint;
      }
    }
  }
}
