:root {
  --screen-phone-portrait: 20.0625rem;
  --screen-phone-landscape: 30.0625rem;
  --screen-tablet-portrait: 37.5625rem;
  --screen-tablet-landscape: 48.0625rem;
  --screen-desktop: 60.0625rem;
  --screen-desktop-large: 80rem;
  --font-family-sans: "Poppins", sans-serif;
  --font-family-mono: "VT323", monospace;
  --foreground-color: var(--foreground, #080808);
  --background-color: var(--background, #f8f8f8);
}

.body {
  font-family: var(--font-family-sans);
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-size: 1rem;
  line-height: 1.5;
}
.body::before {
  display: none;
}
@media screen and (min-width: 20.0625rem) {
  .body::before {
    content: "phone-portrait";
  }
}
@media screen and (min-width: 30.0625rem) {
  .body::before {
    content: "phone-landscape";
  }
}
@media screen and (min-width: 37.5625rem) {
  .body::before {
    content: "tablet-portrait";
  }
}
@media screen and (min-width: 48.0625rem) {
  .body::before {
    content: "tablet-landscape";
  }
}
@media screen and (min-width: 60.0625rem) {
  .body::before {
    content: "desktop";
  }
}
@media screen and (min-width: 80rem) {
  .body::before {
    content: "desktop-large";
  }
}

pre,
code,
[data-js=border] {
  font-family: var(--font-family-mono);
  line-height: 0.75rem;
}

[data-js=border] {
  border: 0;
  font-size: 1.565rem;
}

h1,
h2 {
  text-transform: capitalize;
  text-wrap: balance;
}

.headline {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -0.125rem;
  line-height: 1.25;
  margin-top: 0;
}

@layer vendor, core;
