@property --color-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #080808;
}
@property --color-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #f8f8f8;
}
:root {
  --screen-phone-portrait: 20.0625rem;
  --screen-phone-landscape: 30.0625rem;
  --screen-tablet-portrait: 37.5625rem;
  --screen-tablet-landscape: 48.0625rem;
  --screen-desktop: 60.0625rem;
  --screen-desktop-large: 80rem;
  --font-family-sans: "Poppins", sans-serif;
  --font-family-mono: "VT323", monospace;
}

.body {
  font-family: var(--font-family-sans);
  color: var(--foreground-color, var(--color-dark));
  background-color: var(--background-color), var(--color-light);
  font-size: 1rem;
  line-height: 1.5;
}
.body::before {
  display: none;
}
@media screen and (min-width: 20.0625rem) {
  .body::before {
    content: "phone-portrait";
  }
}
@media screen and (min-width: 30.0625rem) {
  .body::before {
    content: "phone-landscape";
  }
}
@media screen and (min-width: 37.5625rem) {
  .body::before {
    content: "tablet-portrait";
  }
}
@media screen and (min-width: 48.0625rem) {
  .body::before {
    content: "tablet-landscape";
  }
}
@media screen and (min-width: 60.0625rem) {
  .body::before {
    content: "desktop";
  }
}
@media screen and (min-width: 80rem) {
  .body::before {
    content: "desktop-large";
  }
}

pre,
code,
[data-js=border] {
  font-family: var(--font-family-mono);
  line-height: 0.75rem;
}

[data-js=border] {
  border: 0;
  font-size: 1.565rem;
}

h1,
h2 {
  text-transform: capitalize;
  text-wrap: balance;
}

[data-js=vborder] {
  --vborder-content: attr(data-content);
  position: relative;
  padding-inline: 2.4rem;
}

[data-js=vborder]::before,
[data-js=vborder]::after {
  content: var(--vborder-content);
  font-family: var(--font-family-mono);
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -0.35rem;
  font-size: 1.565rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

[data-js=vborder]::before {
  left: 0;
}

[data-js=vborder]::after {
  right: 0;
}

.headline {
  font-size: 8vw;
  font-weight: 800;
  letter-spacing: -0.125vw;
  line-height: 1.25;
  margin-block: 0;
}

[data-js=box] {
  position: relative;
  padding-inline: 2.4rem;
}

[data-js=box]::before,
[data-js=box]::after {
  content: attr(data-content-height);
  font-family: var(--font-family-mono);
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -0.35rem;
  font-size: 1.565rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

[data-js=box]::before {
  left: 0;
}

[data-js=box]::after {
  right: 0;
}

[data-js=box]::before,
[data-js=box]::after {
  content: attr(data-content-width);
  font-family: var(--font-family-mono);
  letter-spacing: -0.35rem;
  font-size: 1.565rem;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

[data-js=box]::before {
  top: 0;
}

[data-js=box]::after {
  bottom: 0;
}

@layer vendor, core;
