.body {
  font-family: sans-serif;
}
.body::before {
  display: none;
}
@media screen and (min-width: 20.0625rem) {
  .body::before {
    content: "phone-portrait";
  }
}
@media screen and (min-width: 30.0625rem) {
  .body::before {
    content: "phone-landscape";
  }
}
@media screen and (min-width: 37.5625rem) {
  .body::before {
    content: "tablet-portrait";
  }
}
@media screen and (min-width: 48.0625rem) {
  .body::before {
    content: "tablet-landscape";
  }
}
@media screen and (min-width: 60.0625rem) {
  .body::before {
    content: "desktop";
  }
}
@media screen and (min-width: 80rem) {
  .body::before {
    content: "desktop-large";
  }
}

pre,
code,
[data-js=border] {
  font-family: monospace;
}

[data-js=border] {
  border: 0;
}

h1,
h2 {
  text-wrap: balance;
}
