@use "breakpoints" as breakpoints;

:root {
  @each $name, $value in breakpoints.$breakpoints {
    --screen-#{$name}: #{$value};
  }

  --font-family-mono: "VT323", monospace;
  --foreground-color: var(--foreground, #080808);
  --background-color: var(--background, #f8f8f8);
}
